body, html {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    position: fixed;

    font-family:verdana,helvetica,arial,sans-serif;
    /* font-size:8px; */
}

body {
    display: grid;
    grid-template-rows: 1fr;
}

#top-panel .easyui-panel {
    height: 43px;
    overflow: hidden;
}

#bottom-panel {
    display: grid;
    grid-template-columns: 500px 1fr;
}

#top-panel {

}

#main-panel {
    /* display: grid;
    grid-template-columns: 500px 1fr; */
    height: 100%;
}

#left-panel {

}

#right-panel {

}

#notes-tab {
    display: grid;
    grid-template-columns: 150px 350px;
}

.tree-title {
    /* font-size: 8px; */
}

.datagrid-cell {
    /* font-size: 8px; */
    word-break: break-all;
}

.EasyMDEContainer {
    height: calc(100% - 49px);
}

.EasyMDEContainer .cm-s-easymde {
    height: calc(100% - 49px) !important;
}

#search-left-panel {
    display: grid;
    grid-template-rows: 30px 1fr;
}

#search-left-panel-header {
    display: grid;
    grid-template-columns: 1fr 200px 100px 100px;
}

#files-left-panel {
    display: grid;
    grid-template-rows: 30px 1fr;
}

#files-left-panel-header {
    display: grid;
    grid-template-columns: 1fr 120px;
}

.wrapped-text {
    width: auto;
    word-break: break-all;
    white-space: pre-wrap;
}

.table-tab-content {
    height: 100%;
}

#notes-tt .tabs-inner {
    height: 25px !important;
    line-height: 20px !important;
}

#notes-tt .tabs-title {
    font-size: 8px !important;
}

.images-list-panel,
.files-list-panel {
    display: grid;
    grid-template-rows: 30px 1fr;
}


.input-with-btn {
    display: grid;
    grid-template-columns: 460px 30px;
}

.tabs-title {
    text-overflow: ellipsis;
    /* width: 100px; */
    display: block;
    overflow: hidden;
}

table * { 
    /* font-size: 8px !important;  */
}

.image-preview {
    position: relative;
}

.datagrid-row-selected img {
    display: block !important;
    /* position: fixed; */
    /* z-index: 999; */
    width: 200px;
    height: 200px;
    object-fit: scale-down;
    border: 1px solid rgba(0,0,0,0.5);
}

.input-with-btn-wrapper {
    display: grid;
    grid-template-columns: 1fr 30px;
}

#html-note-html-paste {
    height: 800px;
    border: 1px solid rgba(0,0,0,0.5);
    overflow-y: scroll;
    padding: 5px;
    white-space: pre-wrap;
}

#html-note-html-preview {
    height: 800px;
    border: 1px solid rgba(0,0,0,0.5);
    overflow-y: scroll;
    padding: 5px;
    white-space: pre-wrap;
}

#html-note-editor-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#category-expand-btn {
    margin-right: 10px;
}

.tab-note-title {
    width: auto !important;
    height: auto !important;
}

/*Container, container body, iframe*/
.tox-tinymce {
    height: 100% !important;
    min-height: 100% !important;
}

.files-list {
    height: 100%;
    display: grid;
    grid-template-rows: 30px 1fr;
}