body, html {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    position: fixed;

    font-family:verdana,helvetica,arial,sans-serif;
    font-size:8px;
}

body {
    display: grid;
    grid-template-rows: 1fr;
}

#top-panel .easyui-panel {
    height: 43px;
    overflow: hidden;
}

#bottom-panel {
    display: grid;
    grid-template-columns: 500px 1fr;
}

#top-panel {

}

#main-panel {
    /* display: grid;
    grid-template-columns: 500px 1fr; */
    height: 100%;
}

#left-panel {

}

#right-panel {

}

#notes-tab {
    display: grid;
    grid-template-columns: 150px 350px;
}

.tree-title {
    font-size: 8px;
}

.datagrid-cell {
    font-size: 8px;
    word-break: break-all;
}

.EasyMDEContainer {
    height: calc(100% - 49px);
}

.EasyMDEContainer .cm-s-easymde {
    height: calc(100% - 49px) !important;
}

#search-left-panel {
    display: grid;
    grid-template-rows: 30px 1fr;
}

#search-left-panel-header {
    display: grid;
    grid-template-columns: 1fr 100px 100px;
}

#files-left-panel {
    display: grid;
    grid-template-rows: 30px 1fr;
}

#files-left-panel-header {
    display: grid;
    grid-template-columns: 1fr 120px;
}

.wrapped-text {
    width: auto;
    word-break: break-all;
    white-space: pre-wrap;
}

.table-tab-content {
    height: 100%;
}

#notes-tt .tabs-inner {
    height: 25px !important;
    line-height: 20px !important;
}

#notes-tt .tabs-title {
    font-size: 8px !important;
}

.images-list-panel,
.files-list-panel {
    display: grid;
    grid-template-rows: 30px 1fr;
}